# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.eggs/
dist/
build/
*.egg

# SQLite databases (created by scripts/init_db.py)
*.db
*.db-journal
*.sqlite
*.sqlite3

# Environment / secrets
.env
.env.*

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
